NEXT_PUBLIC_SUPABASE_URL=https://dbyuuqshwncleihprvve.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRieXV1cXNod25jbGVpaHBydnZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1NDI4MzQsImV4cCI6MjA4NDExODgzNH0.85wIkToelOMfDIudj9zTMUBu3iWm2_3dCUgwTHzEaeE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRieXV1cXNod25jbGVpaHBydnZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODU0MjgzNCwiZXhwIjoyMDg0MTE4ODM0fQ.lVuaE62du0JEbtS-ZA4MvmUvu1L3iccSPBG70t4zzj8